:root {
 --brightorange: hsl(31, 77%, 52%);
 --cyan: hsl(184, 100%, 22%);
 --darkcyan: hsl(179, 100%, 13%);
 --transparentwhite: hsla(0, 0%, 100%, 0.75);
 --lightgray: hsla(0, 0%, 100%, 0.75);
 --BigShoulders :'Big Shoulders Display', cursive;
 --Lexend : 'Lexend Deca', sans-serif;
 


}

body {
    background-color: var(--lightgray);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
}

p {
    color: var(--transparentwhite);
    font-size: 15px;
    font-family: var(--Lexend);
}

h2 {
    font-family: var(--BigShoulders);
    font-weight: 700;
    color: white;
    font-size: 35px;
}
.container {
    margin: 0 auto;
    max-width: 960px;
    
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 500px;
    
}

.box1 {
    padding-top: 40px;
    background-color: var(--brightorange);
    border-radius: 10px 0px 0px 10px;
    padding-left: 35px;
    padding-right: 35px;
    
}

.box2 {
    padding-top: 40px;
    background-color: var(--cyan);
    padding-left: 35px;
    padding-right: 35px;
}

.box3 {
    padding-top: 40px;
    background-color: var(--darkcyan);
    border-radius: 0px 10px 10px 0px;
    padding-left: 35px;
    padding-right: 35px;
}

.box1 p {
    margin-top: 45px;
}

.box2 p {
    margin-top: 45px;
}

.box3 p {
    margin-top: 45px;
}

.button {
    background-color: white;
    border: none;
}

.button1 {
    border-radius: 30px;
    padding: 10px 35px;
    margin-top: 110px;
    
}

.button2 {
    border-radius: 30px;
    padding: 10px 35px;
    margin-top: 110px;
    
}

.button3 {
    border-radius: 30px;
    padding: 10px 35px;
    margin-top: 110px;
    
}

.button1 a {
    text-decoration: none;
    font-family: var(--BigShoulders);
    font-size: 15px;
    color: var(--brightorange);
}

.button2 a {
    text-decoration: none;
    font-family: var(--BigShoulders);
    font-size: 15px;
    color: var(--cyan);
}

.button3 a {
    text-decoration: none;
    font-family: var(--BigShoulders);
    font-size: 15px;
    color: var(--darkcyan);
}

.button:hover {
    background-color: transparent;
    border: 2px solid white;
}

.button:hover a {
    text-decoration: none;
    color: white;
    
}

@media (max-width: 376px) {
    .wrapper {
        display: grid;
        grid-template-rows: 3 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        height: 500px;}
        

    .box1 {
        padding-top: 40px;
        background-color: v(--brightorange);
        border-radius: 10px 10px 0px 0px;
        padding-left: 50px;
        padding-right: 50px;
        
        }
        
    .box2 {
        padding-top: 40px;
        background-color: var(--cyan);
        padding-left: 50px;
        padding-right: 50px;
        }
        
    .box3 {
        padding-top: 40px;
        background-color: var(--darkcyan);
        border-radius: 00px 0px 10px 10px;
        padding-left: 50px;
        padding-right: 50px;
        }

    .button {
        margin-top: 30px;
        margin-bottom: 30px;
    }
   
}